.saleItem{
    display: flex;
}

.saleImageWrapper {
    width: 750px;
    height: 572px;
}

.saleImage{
    width: 100%;
    height: 100%;
}

.saleTitle{
    font-size: 40px;
}

.oldPrice{
    font-size: 64px;
}

.Add{
    height: 58px;
    width: 316px;
    background-color: #0D50FF;
    color: #FFFFFF;
}

.Add:hover{
    height: 58px;
    width: 316px;
    background-color: #282828;
    color: #FFFFFF;
}


